<html>
<head>
	<title>UPDATE USER</title>
</head>
<body>
	<h1>UPDATE USER</h1>
	<form method="POST" th:object ="${user}">
		<input type="hidden" th:value="${user.id}" th:field ="*{id}"><br>
		<label>FirstName:</label>
		<input type="text" th:value="${user.firstName}" th:field="*{firstName}"><br>
		<label>Last Name:</label>
		<input type="text" th:value="${user.lastName}" th:field="*{lastName}"><br>
		<label>Email:</label>
		<input type="text" th:value="${user.email}" th:field="*{email}"><br>
		<label>DOB:</label>
		<input type="date" th:field="*{dob}"><br>
		<button type="submit">OK</button>
	</form>
</body>
</html>